@use "./src/utility/variables";

.category {
  padding-bottom: 70px;
  padding-top: 30px;
  & h2 {
    margin-bottom: 30px;
    font-size: 36px;
    font-style: italic;
  }

  &-wrap {

    &_list{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

      &-item{
        max-width: 300px;
        padding: 20px 10px;
        background-color: variables.$main_white;
        text-align: center;
        text-decoration: none;
        color: variables.$main_blue;
        transition: all .1s linear;

        &:hover {
          transform: translateY(-8px);
          box-shadow: 3px 3px 3px 5px rgba(0,0,0,0.1);
        }

        &:not(:last-child) {
          margin-right: 20px;
        }

        & img {
          max-width: 100%;
          height: 150px;
          margin-bottom: 25px;
        }

        & h4 {
          margin-bottom: 30px;
          font-size: 24px;
        }
      }
    }
  }
}

.category-dark {
  background-color: variables.$dark-grey-background;
    & h2 {
      margin-bottom: 30px;
      font-size: 36px;
      font-style: italic;
      color: variables.$main_white;
    }
    &-wrap {

      &_list{
        &-item{
          background-color: variables.$main_white;
          color: variables.$main_blue;
          & h4 {
            margin-bottom: 30px;
            font-size: 24px;
          }
        }
      }
    }
}