@use "../../../utility/variables";

.cart-wrap-dark {
  background-color: variables.$black-background!important;
  color: variables.$main_beige!important;

  & button {
    color: variables.$main_white;
    border: 1px solid variables.$main-white!important;
  }

  & .cart-checkout {
    background-color: variables.$main_beige!important;
    color: variables.$main_white;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
    }

    &:active {
      background-color: transparent;
      color: variables.$main_blue
    }
  }

  &-notification {
    color: variables.$main_white;
    background-color: variables.$main_blue;
  }
}


.cart {
  list-style: none;
  max-height: 340px;
  overflow: scroll;
  padding-bottom: 20px;


  &-wrap {
    width: 500px;
    position: absolute;
    cursor: default;
    top:100%;
    right: -20px;
    background-color: variables.$main_white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);
    z-index: 10000;
    padding: 25px 10px 10px 10px;

    &_close {
      cursor: pointer;
      opacity: .4;
      position: absolute;
      right: 0;
      top: 0;
      transition: all .2s linear!important;

      &:hover {
        opacity: 1;
      }
    }
  }

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    cursor: default;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    & img {
      max-width: 115px;
      height: auto;
      cursor: pointer;
    }

    & svg {
      cursor: pointer;
    }

    &_content {
      display: flex;
      align-items: center;
      &-price {
        display: flex;
        align-items: center;
        margin-right: 10px;

        & span {
          margin-left: 5px;
        }
      }

      &-quantity {
        display: flex;
        align-items: center;

        & span {
          margin-left: 5px;
          font-size: 18px;
          font-weight: bold;
          margin-right: 5px;
        }
      }

      &-arrows {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    & h3 {
      font-size: 14px;
      text-align: center;
      margin-right: 10px;
      max-width: 140px;
    }
  }

  &-total {
    display: flex;
    font-size: 22px;

    & span {
      margin: 0 3px;
    }
  }

  &-checkout {
    background-color: variables.$main_blue;
    color: variables.$main_white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: all .1s linear;


    &:hover {
      transform: translateY(-2px);
      box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.2);
    }

    &:active {
      background-color: variables.$main_beige;
      color: variables.$main_blue
    }
  }

  &-bottom_wrap {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
    position: relative;

    &:after {
      width: 70%;
      height: 1px;
      margin-bottom: 10px;
      content: '';
      position: absolute;
      background-color: rgba(0, 0, 0, 0.38);
      top: 10%;
      left:15%;
    }

    &-buttons {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  &-notification {
    display: none;
    position: absolute;
    top: -15px;
    right: -13px;
    color: variables.$main_white;
    background-color: variables.$main_blue;
    height: 24px;
    text-align: center;
    width: 24px;
    cursor: default;
    border-radius: 100%;
    z-index: 1;
  }
}

.shopping-cart_anchor {
  position: relative;
  z-index: 2;
}

.active-cart {
  fill: #043E85!important;
}

.empty-cart {
  text-align: center;
  font-size: 20px;
}

.disabled-cart_link {
  pointer-events: none;
  opacity: 0.3;
}

.cart-notification-enabled {
  display: block;
}