@import "./src/utility/variables";

.products {
  margin-top: -30px;

  & h2 {
    font-size: 36px;
    font-style: italic;
  }

  &-wrap {
    &_list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-bottom: 25px;
    }
  }
}