@use "./src/utility/variables";

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  &-login {
    border: 1px solid rgba(28, 28, 28, 0.14);
    padding: 30px;
    width: 280px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.14);
    margin: 80px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_switch {
      cursor: pointer;
      transition: all .1s linear;

      &:hover {
        text-decoration: underline;
      }
    }

    & h2 {
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &_btn {
    margin-top: 15px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
    background-color: variables.$main_blue;
    color: variables.$main_white;
    border-radius: 8px;
    border: none;
    transition: .1s linear;

    &:hover {
      background-color: #0652b4;
      transform: translateY(-5px);
    }

    &:active {
      box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.2);
    }
  }

}

.login-wrap {
  flex: 1;
  position: relative;
  padding: 50px 0 150px;
}

.login-wrap-dark {
  background-color: variables.$dark-grey-background;

  .login-form-login {
    background-color: variables.$main-white;
    color: variables.$dark-grey-background;

    & input {
      &:focus, &:active {
        border: variables.$dark-grey-background!important;
      }
    }

    & button {
      background-color: variables.$dark-grey-background;
    }
  }
}

.user-content-wrap {
  flex: 1;
}

.user-content-wrap-dark {
  background-color: variables.$dark-grey-background;
  color: variables.$main_white;

  & .profile-functionality button {
    background-color: variables.$main_white;
    color: variables.$dark-grey-background;
    border: 1px solid variables.$dark-grey-background;
    outline: variables.$dark-grey-background;

  }

  & .profile-wrap_content-buttons button {
    border: 1px solid variables.$main_white;
    color: variables.$main_white;

    &:first-child {
      border: none;
      background-color: variables.$main_white;
      color: variables.$dark-grey-background;

      &:disabled {
        opacity: 0.3;
      }
    }
  }
}