@import "./src/utility/variables";

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  &-login {
    border: 1px solid rgba(28, 28, 28, 0.14);
    padding: 30px;
    width: 280px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.14);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_switch {
      cursor: pointer;
      transition: all .1s linear;

      &:hover {
        text-decoration: underline;
      }
    }

    & h2 {
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &_btn {
    margin-top: 15px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
    background-color: $main_blue;
    color:$main_white;
    border-radius: 8px;
    border: none;
    transition: .1s linear;

    &:hover {
      background-color: #0652b4;
    }

    &:active {
      transform: translateY(-5px);
      box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.2);
    }
  }

}