@use "./src/utility/variables";

.edit-product_modal {
  position: fixed;
  width: 420px;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  background-color: variables.$main_white;
  color: variables.$main_blue;
  padding: 50px 50px 10px;
  z-index: 100;

  &-form > div{
    width: 100% !important;
  }

  &-buttons {
    display: flex;
    justify-content: space-around;
    & button:first-child {
      margin-right: 15px;
      background: transparent;
      color: variables.$main_blue;
      border: 1px solid variables.$main_blue;

      &:hover {
        background: #0652b4;
        color: variables.$main_white;
      }
    }
  }

  &-select {
    width: 100%;
    position: relative;
    z-index: 500;
  }

  &-overlay {
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
  }
}