@use "./src/utility/variables";
.header-dark {
  background-color: variables.$dark-grey-background!important;

  & .header_wrap-menu_icon {
      & svg {
        fill: variables.$main_white;

        &:hover {
          fill: variables.$main_beige
        }
      }
    }
}

.header-categories-dark {
  background-color: variables.$black-background;

  & .header-categories_list {
    &-item {
      color: variables.$main_white;
      &:not(:last-child) {
        &:after {
          background-color: rgba(171, 171, 171, 0.25);
        }
      }
    }

    &-select {
      &-btn {
        color: variables.$main_white;

        &:hover {
          color: orange;
        }
      }

      &-content {
        background: variables.$black-background;
        border: none;
        & a {
          color: variables.$main_white;

          &:not(:last-child) {
            &:after {
              background-color: rgba(255, 165,0, 0.2);
            }
          }

          &:hover {
            color: orange;
          }
        }
      }
    }
  }
}

.header {
  background-color: variables.$main_beige;
  height: 85px;

  &_wrap {
    display: flex!important;
    justify-content: space-between;
    align-items: center;

    &-logo img{
      width: 200px;
    }

    &-menu {
      display: flex;
      align-content: center;
      justify-content: space-between;
      padding: 8px 10px;

      & .header_wrap-menu_icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 20px;
        }
      }

      & svg {
        fill: #353535;

        &:hover {
          fill: variables.$main_blue;
        }

      }
    }
  }
}

.header-categories {
  padding: 15px 5px 15px;

  &_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: variables.$main_blue;

    &-item {
      color: variables.$main_blue;
      text-decoration: none;
      font-size: 1.3rem;
      cursor: pointer;
      width: 100%;
      text-align: center;
      position: relative;
      transition: all .1s linear;

      &:hover {
        color: orange
      }

      &:not(:last-child) {
        margin-right: 15px;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          background-color: rgba(53, 53, 53, 0.25);
          width: 1px;
          height: 100%;
        }
      }
    }

    &-select {
      position: relative;
      display: inline-block;

      &-btn {
        width: 222px;
        font-size: 1.3rem;
        padding: 5px 0;
        font-weight: 300;
        background: none;
        cursor: pointer;
        color: variables.$main_blue;
        border: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        &:after {
          display: none;
        }

        &:hover {
          color: orange;
        }
      }

      &-content {
        position: absolute;
        max-width: 225px;
        display: none;
        background: variables.$main_white;
        top: 110%;
        padding: 3px 20px 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        z-index: 100;
        border: 1px solid variables.$main_blue;
        animation: growDown 200ms ease-in-out forwards;
        transform-origin: top center;

        & a {
          text-align: center;
          color: variables.$main_blue;
          text-decoration: none;
          font-size: 1.3rem;
          cursor: pointer;
          width: 100%;
          position: relative;
          transition: all .1s linear;
          display: block;
          padding: 8px 0;

          &:not(:last-child) {
            &:after {
              content: '';
              position: absolute;
              width: 50%;
              background-color: #3f96cd;
              height: 1px;
              bottom: 0;
              left: 25%;
            }
          }

          &:hover {
            color: orange;
          }
        }
      }
    }
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}

.show-more-categories_active {
  display: block;
}

