@import "./src/utility/variables";
.header-dark {
  background-color: $dark-grey-background!important;

  & .header_wrap-menu_icon {
      & svg {
        fill: $main_white;

        &:hover {
          fill:$main_beige
        }
      }
    }
}

.header-categories-dark {
  background-color: $black-background;

  & .header-categories_list {

    &-item {
      color: $main_white;
      &:not(:last-child) {
        &:after {
          background-color: rgba(171, 171, 171, 0.25);
        }
      }
    }
  }
}

.header {
  background-color: $main_beige;
  &_wrap {
    display: flex!important;
    justify-content: space-between;
    align-items: center;

    &-logo img{
      width: 200px;
    }

    &-menu {
      display: flex;
      align-content: center;
      justify-content: space-between;
      padding: 8px 10px;

      & .header_wrap-menu_icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 20px;
        }
      }

      & svg {
        fill: #353535;


        &:hover {
          fill:$main_blue;
        }

      }
    }
  }
}

.header-categories {
  padding: 15px 5px 15px;

  &_list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: $main_blue;

    &-item {
      color: $main_blue;
      text-decoration: none;
      font-size: 1.3rem;
      cursor: pointer;
      width: 100%;
      text-align: center;
      position: relative;
      transition: all .1s linear;

      &:hover {
        color: orange
      }

      &:not(:last-child) {
        margin-right: 15px;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          background-color: rgba(53, 53, 53, 0.25);
          width: 1px;
          height: 100%;
        }
      }
    }
  }
}