@use './variables';
@mixin productPage-elements {
  position: relative;

  &:after{
    z-index: -1;
    content: '';
    position: absolute;
    top:-20%;
    right: -10%;
    width: 120%;
    height: 150%;
    background: variables.$main_white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  }
}