
$light_beige: #FFEFD6;
$dark_beige:#F2DEBA;
$light_teal: #3A8891;
$dark_teal: #0E5E6F;

$main_beige: #DDB57C;
$main_blue: #043E85;
$light_blue:#E9F3FF;
$main_white:#FAFAFA;



$header-color: #DDB57C;
$text-color: #043E85;
$white-color: #fafafa;
$white-background: #E9F3FF;

$black-background: #1E1E1E;
$dark-grey-background: #2c2c2c;