@import "./src/utility/variables";

.category_page {
  padding: 25px 0 40px;
  & h2 {
    margin-bottom: 25px;
    font-size: 32px;
    font-style: italic;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    column-gap: 60px;
    row-gap: 0;
  }

  &-filters {
    padding: 10px 15px;
    background-color: $main_white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    &-range {
      display: flex;
      width: 300px;
    }
  }
}

.category_page-dark {
  background-color: $dark-grey-background;
  & h2 {
    color: $main_white;
  }

  & .category_page-filters {
    background-color: #646464;

    & * {
      color: $main_white;
    }
  }
}